@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --bgtheme: #333;
    --bgletter: #fff;
    --bgmission: lightsalmon;
    --bgvision: yellow;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#sectionOne {
    height: 100vh;
    background: var(--bgtheme);
    position: relative;
}

#sectionTwo {

    min-height:400vh;
    z-index:1000;

}

.basictext{
    padding-top:300vh;
}

#animationdivs{
    position:relative;
  
}

.sectionvnm {


    pointer-events: none;
    position: absolute;

}

.side {
    z-index:1000;
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--bgtheme);



}


.mission {

    clip-path: polygon(100% 0, 0 0, 0 100%);


}

.missionInside{
    z-index:1000;
    position:relative;

}

.missionInside h3, .missionInside p{
    color:white;
    font-weight:700;
    position:absolute;
   left:6vw;
   top:6vh; 
  
  
}
.missionInside p {
    color:white;
    top:10vh;
    font-weight:500;
}


.vision {

    clip-path: polygon(100% 100%, 100% 0, 0 100%);

}

.visionInside{
    z-index:1000;
    position:relative;

}

.visionInside h3{
    color:green;
    font-weight:700;
    position:absolute;
    bottom:100px;
    right:0px;

}