

:root{
  --bgthemelight : #E2D3F4;
  --bgthemeletter:  #013dc4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--bgthemelight);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #161B21;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height:100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--bgthemelight);


}

.swiper-container-v {
  background: var(--bgthemelight);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  /* height:100vh;
  width:100%; */
  width: 100%;

}

#sectionOne .card{
  background:#111111;
  color:var(--bgthemelight);
}
#sectionOne .card-title{

  font-weight:700;
  text-align:center;

}

.navContainer {
  background-color: transparent;
  position: fixed;
  z-index: 100;
  width: 100%;
  display: block;
  transition: all .8s ease;
}



.navigationMenu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}


.navigationMenu a:hover {
  background-color: #ddd;
  color: black;
}
#swiperSlideOne{
  height:300vh;
}
#sectionOne{
  width:100vh;
  background: var(--bgthemelight);


  /* background: #1A2980;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #26D0CE, #1A2980); 
background: linear-gradient(to right, #26D0CE, #1A2980);  */

}

#sectionOne .card{
  border:none;


}

#sectionOne {
  display:flex;
  justify-content:center;
  align-items:center;
}

.card-body .cardTriangle{
  position:absolute;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background-color:var(--bgthemeletter);
 
  height:20vmin;
  width:20vmin;
}

.custom-shape-divider-top-1610263407 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1610263407 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1610263407 .shape-fill {
  fill: #111111;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-top-1610263407 svg {
      width: calc(152% + 1.3px);
      height: 500px;
  }
}