@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* #F5D300;
#FFF501;
#02B8A2;
#FF2281;
#FFD300;
#FE6B35; */

:root {
    --gradientA: #21d4fd;
    --gradientB: #b721ff;
    --gradientC: #21d4fd;
    --gradientD:#b721ff;
    --gradientE:#21d4fd;
    --gradientF:#b721ff;
    --gradientG:#21d4fd;
    --gradientH:#b721ff;
    --bgColor: whitesmoke;
    --navBgColor: #111111;
    --navTxtColor: orange;
    --navListBgHover: aqua;
    --toggleMenuColor: white;
    --toggleMenuColorHover: #111111;
    --theme:#FF1493;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--toggleMenuColorHover);
    padding-top:50px;
}

.navigation {

    position: fixed;
    width: 60px;
    height: 100%;
    background: var(--navBgColor);
    transition: 0.5s ease;
    overflow: hidden;
    z-index:100;
}





.navigation>ul {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.navigation>ul>li {
    position: relative;
    width: 100%;
    list-style-type: none;
}

.navigation>ul>li:hover {


    background: var(--theme);
     color:black;
}

.navigation>ul>li:hover .navigation > ul > li > a{
    color:var(--theme);
}


.navigation>ul>li>a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    /* color: var(--navTxtColor); */
    color: var(--bgColor);
}

.navigation>ul>li>a>.icon:hover{

    color:var(--bgColor);

}

.navigation>ul>li>a>.icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color:var(--theme)
}

.navigation.active,
.navigation:hover {
    width: 300px;


}


.navigation>ul>li>a>.icon>.fa,
.fas {
    font-size: 24px;
}

.navigation>ul>li>a>.title {
    position: relative;
    display: block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;

}

.toggleMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: transparent;
    transition:all 1.2s ease;
    transform:scale(1.2);
    cursor: pointer;
    z-index:100;
    color:#FF1493;
}

.toggleMenu.active {

    background: transparent;
    z-index:100;

}

.toggleMenu:before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: var(--theme);
    background:transparent;
}

.toggleMenu.active:before {
    content: '\f00d';
    color: var(--theme);

}



body{
    background:var(--toggleMenuColorHover);
    overflow-x:hidden;
}


.container-fluid{
  
    box-sizing:border-box;
    overflow:hidden;
}

.rowcard{
    background:var(--toggleMenuColorHover);
}
.projectHead{

    background-position:center;
    background-repeat: no-repeat;
    display:block;

}

.innerProjectHead{

    position:relative;


}





.carouselImg{

    height:70vmin;
    width:100vmin;
    display:block;
    margin:0 auto;

}


.projectCardBody h2{
    margin-top:50px;
    color:white;
    margin-bottom:55px;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
}

.projectCardBody span::before{
    content:'';
    position:absolute;
    width:75px;
    height:5px;
    background:var(--theme);
    bottom:39px;
    left:50%;

}

.projectCardBody span::after{
    content:'';
    position:absolute;
    width:50px;
    height:5px;
    background:var(--theme);
    bottom:32px;
    left:50%;
}


.projectCardBody p{

    color:white;
    font-family:'Poppins', sans-serif;
    margin-bottom:75px;
}

blockquote{
    color:white;
}


#card1{
    border:none;

}

.card-deck{
    background:#111111;
}

.card-body{
    background:#111111;
    border-radius: 20px;
background: linear-gradient(145deg, #0f0f0f, #121212);
box-shadow:  5px 5px 0px #0b0b0b,
             -5px -5px 0px #171717;
}
h5{
    font-size:10vmin;
    color:var(--theme);
}
#detail1 h5 {

font-weight:700;
display:flex;
justify-content:center;
align-items: center;

}

#detail1 p {

    margin-top:4px;
    display:flex;
    justify-content:center;
    align-items: center;
    
    }

#detail1 .icon{

    
     color:var(--theme);font-size:3rem;
   
}

#card2{
    border:none;
}

#detail2 h5 {

    font-weight:700;
    display:flex;
    justify-content:center;
    align-items: center;

    
    }
    
    #detail2 p {
    
        margin-top:4px;
        display:flex;
        justify-content:center;
        align-items: center;
        
        }

#detail2 .icon{
    font-size:3rem;
     color:var(--theme);
}


#card3{
    border:none;
}

#detail3 h5 {

    font-weight:700;
    display:flex;
    justify-content:center;
    align-items: center;
    
    }
    
#detail3 p {
    
        margin-top:4px;
        display:flex;
        justify-content:center;
        align-items: center;
        
        }
#detail3 .icon{
    font-size:3rem;
     color:var(--theme);
}


#card4{
    border:none;
}

#detail4 h5 {

    font-weight:700;
    display:flex;
    justify-content:center;
    align-items: center;
    
    }
    
#detail4 p {
    
        margin-top:4px;
        display:flex;
        justify-content:center;
        align-items: center;
        
        }
#detail4 .icon{
    font-size:3rem;
     color:var(--theme);
}



#card5{
    border:none;
}

#detail5 h5 {

    font-weight:700;
    display:flex;
    justify-content:center;
    align-items: center;
    
    }
    
#detail5 p {
    
        margin-top:4px;
        display:flex;
        justify-content:center;
        align-items: center;
        
        }
#detail5 .icon{
    font-size:3rem;
     color:var(--theme);
}


#card6{
    border:none;
}

#detail6 h5 {

    font-weight:700;
    display:flex;
    justify-content:center;
    align-items: center;
    
    }
    
#detail6 p {
    
        margin-top:4px;
        display:flex;
        justify-content:center;
        align-items: center;
        
        }
#detail6 .icon{
    font-size:3rem;
     color:var(--theme);
}



#card7{
    border:none;
}

#detail7 h5 {

    font-weight:700;
    display:flex;
    justify-content:center;
    align-items: center;
    
    }
    
#detail7 p {
    
        margin-top:4px;
        display:flex;
        justify-content:center;
        align-items: center;
        
        }
#detail7 .icon{
    font-size:3rem;
     color:var(--theme);
}



#card8{
    border:none;
}

#detail8 h5 {

    font-weight:700;
    display:flex;
    justify-content:center;
    align-items: center;
    
    }
    
#detail8 p {
    
        margin-top:4px;
        display:flex;
        justify-content:center;
        align-items: center;
        
        }
#detail8 .icon{
    font-size:3rem;
     color:var(--theme);
}

.cardImg{
    animation:animate 5s infinite ease;
    width:50vmin;
    height:50vmin;
    margin:0 auto;
    display:block;
    top:60px;
}

a{
    text-decoration:none;
    color:var(--theme);
}
/* 
#card3 img{
    width:90vmin;
}
#card4 img{
    width:80vmin;
} */




@media(max-width:767px) {
    .navigation {
        left: -60px;
    }

    .navigation.active {
        left: 0px;
        width: 80%;
        height:100vh;
    }
    .projectHead{
       margin:0 auto;
    }
    .carousel{

        margin:0 auto;
    }



}



@media(min-width:769px) {
    /* .container-fluid {
        padding-left: 65px;
    } */

    /* .projectHead{
        width:80vw;
        height:80vh;
        margin:0 auto;
        margin-top:2rem;
    } */
   

    



}

@keyframes animate{


    0%, 100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }


}

